body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
header{
    background: linear-gradient(2.28deg, #84A83B -33.18%, #8CB140 93.03%);
    color: white;
    padding: 1.2rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
}
header a , header a:hover , header a:active{
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header .nav-side-menu{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 132.11%);
    backdrop-filter: blur(6px);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 400ms ease-in-out;
}
.header .nav-menu{
    display: none;
}
.header .nav-side-menu.show{
    transform: translateX(0);
    
}
.nav-items{
    width: 60%;
    height: 100%;
    background-color: white;
}
.nav-list{
    width: 100%;
    height: 100%;

}
.nav-items .close{
    text-align: right;
    padding-right: 15px;
    padding-top: 45px;
    padding-bottom: 15px;
    
}
.nav-list li a{
    color: black;
    padding: 9px 9px 9px 35px;
    background: rgba(132, 168, 59, 0.09);
    display: flex;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 1px solid white;
    line-height: 60px;
    
}
.nav-list li a:hover, .nav-list li.active a{
    background: linear-gradient(2.28deg, #84A83B -33.18%, #8CB140 93.03%);
    color: white;
}
.container{
    width: 90%;
    margin: auto;

}
.burger-menu{
    font-size: 35px;

}
.logo{
    display: flex;
    align-items: center;


}
.logo span{
    text-transform: uppercase;

}
.logo img{
    width: 3rem;
}
.user-profil{
    font-size: 35px;
}
main{
    margin-top: 100px;
    padding-bottom: 100px;

   
}
.form-group{
    margin-bottom: 15px;
    position: relative;
}
.form-image{
    position: absolute;
    top: 10%;
    right: 3%;
}
.form-control{
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-radius: 8px;
    display: block;
    width: 100%;
    padding: 0.60rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
}
.form-control.img-control{
    padding-right: 3.2rem;
}
.label-green{
    background: rgba(132, 168, 59, 0.09);
    border: 0.5px solid #042304;
    box-sizing: border-box;
    border-radius: 8px;
    text-decoration: none;
    color: #042304;
    display: inline-block;
    font-size: 85%;
    text-align: center;
    line-height: 1.5;
    white-space: nowrap;
    vertical-align: baseline;
    padding: 0.25rem 0.5rem;
    margin-top: 5px;
    margin-right: 5px;
}
.label-green:hover, .label-green.active{
    background: linear-gradient(2.28deg, #84A83B -33.18%, #8CB140 93.03%);
    border-color: #8CB140;
    color:  white;
}
.article{
    border: 1px solid white;
    margin-top:30px;
    margin-bottom: 25px;
 
    
}

.article-illustration{
    position: relative;
    height: 300px;
    overflow: hidden;
}
.article-illustration img{
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    object-fit: cover;
    object-position: 50% 50%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.article-desc{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: white;
    padding: 15px 0px 15px 15px;
    background:   linear-gradient(179.97deg, rgba(124, 112, 112, 0) -46.22%, rgba(80, 72, 72, 0.07) 12.9%, #000000 119.11%);
}
.article-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    background: #FFFFFF;
    border: 0.7px solid rgba(132, 168, 59, 0.52);
    border-radius: 0px 0px 8px 8px;
    padding: 20px 15px 15px 15px;
    
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 10px;
    z-index: 100;
    background-color: white;

}
.footer-menu .items-menu {
    display: flex;
    flex-direction: row;
    border-top: 0.3px solid #B0860D;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    
    
     

}
.footer-menu .items-menu li{
    flex: auto;
    text-align: center;
    
}
.footer-menu .items-menu a{
    width: 100%;
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-menu .items-menu a:hover,.footer-menu .items-menu li.active a{
    background: rgba(132, 168, 59, 0.09);
    border: 1px solid rgba(132, 168, 59, 0.52);
}
.footer-menu .items-menu img{
    width: 2.2rem;
    height: 2.2rem;
}


@media(min-width:767px){
    .articles{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }
    .article{
        width: 48%;
    }
}
@media(min-width:995px){
    .footer{
        display: none;
    }
    .articles{
        display: block;

        
    }
    .article{
        width: 32%;
        display: inline-block;
        margin-right: 4px;
    }
    .article-illustration{
        height: 200px;
    
    }
    .container{
        width: 95%;
        
    }
    .form-group{
        width: 25rem;
    }
    .research .container{
        display: flex;
        align-items: flex-end;
        flex-direction: column;

        
    }
    .burger-menu, .close-items{
        display: none;
    }
    .header .nav-menu{
        display: block;
    }
    .nav-menu-list{
        display: flex;
        text-align: center;
        flex-wrap: wrap;
    }
    .nav-menu-list a{
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 35px ;
        
    }
    .nav-menu-list a:hover, .nav-menu-list li.active a{
        background-color: rgba(255, 255, 255,0.3);
    }
    main{
        display: flex;
        justify-content: flex-end;

    }
    .content{
        width: 80%;

    }
    .header .nav-side-menu{
        transform: initial;
        background: white;
        backdrop-filter: initial;
        width: 13rem;
        top: unset;
        right: unset;
        z-index: -1;
        height: 85vh;
       
        
    }
    .nav-items{
        width: 100%;
      
    }
    
}
@media(min-width:1025px){
    
    .article{
        width: 24%;
    }
    .header .nav-side-menu{
        width: 17rem;
    }
   
    
}